* {
  margin: 0;
  padding: 10;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: #DBD0C4;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 36px;
  letter-spacing: 2px;
  font-family: 'Times New Roman', Times, serif;
  color: #413431;
  padding-left: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #C0710E;
  height: 8vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-lista {
  font-size: larger;
  list-style: none;
  display: flex;
  padding-right: 30px;
}

.nav-lista li {
  letter-spacing: 1px;
  margin-left: 32px;
}

.menu-mobile {
  display: none;
  cursor: pointer;
}

.menu-mobile div {
  width: 20px;
  height: 2px;
  background: #DBD0C4;
  margin: 8px;
  transition: 0.3s;
}

/*css capa*/
.img-rosto,
.food-img {
  width: 100%;
  height: 30%;
}

p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #DBD0C4;
}

.col-1 {
  color: #DBD0C4;
  font-size: 20px;
  margin-top: 10px;
  float: left;
  width: 15%;
  line-height: 1.5;
}

.col-2 {
  color: #DBD0C4;
  font-size: 20px;
  margin-top: 10px;
  float: right;
  width: 15%;
  line-height: 1.5;
}

.title {
  color: #C0710E;
  font-weight: bolder;
  font-size: 40px;
}

.sub-title {
  color: #C0710E;
  font-weight: bolder;
  font-size: 20px;
}

/*css dos icones*/
.fas {
  color: #912b06;
}

.contacts,
.text,
.text1 {
  font-size: 20px;
  line-height: 2;
}

.text1 {
  width: 20%;
}